// Beaulieu Custom Colours!
$dark-grey: #2C2C2C;
$off-white: #e2e2e2;
$bright-white: #ffffff;
$storm-blue: #152A43;
$toad-green: #23421f;
$light-green: #315c2b;
$regal-red: #500e10;
$light-red: #81171b;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
