// Specific CSS for your home-page

.home-container {
  width: 100%;
  background-color: lightgray;
}

.carousel {
  background: transparent;
}

.carousel-cell {
  position: relative;
  width: 800px;
  height: 600px;
  counter-increment: carousel-cell;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 400px;
  font-size: 80px;
  color: transparent;
}

.displayed-image {
  width: 100%;
}

.trash-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 48px;
  margin: 0;
  border-radius: 0;
}
/* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 64px;
  height: 64px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
.flickity-button-icon:hover {
  fill: #2C2C2C;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}
.flickity-button:hover {
  background: transparent;
}