.form-title {
  text-align: center;
  margin: 24px auto 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

.form-container {
  margin: 16px auto 0;
  width: 500px;
  text-align: left;
}

.main-form-btn {
  margin-bottom: 16px; 
  width: 500px;
  text-align: center;
}

.album-btns {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form-inputs {
  font-weight: 600;
}

.hidden {
  display: none;
}