<div class="footer-container">
  
  <div class="footer">

    <div class="footer-title-left">
      <p>R</p>
    </div>

    <div class="footer-albums-center">
      <ul>
        <li>fb</li>
        <li>Ln</li>
        <li>IG</li>
      </ul>
    </div>

    <div class="footer-title-right">
      <p></p>
    </div>

</div>
