<div class="footer-container">
  
  <div class="footer">

    <div class="footer-left">
      <p></p>
    </div>

    <div class="footer-center">
      <ul>
        <li><%= link_to icon('fab', 'github'), 'https://github.com/rowan2992/Beaulieu-Photos', target: '_blank' %></li>
        <li><%= link_to icon('fab', 'twitter'), 'https://www.instagram.com/keeganbowlu/?hl=en', target: '_blank' %></li>
        <li><%= link_to icon('fab', 'instagram'), 'https://www.instagram.com/beaulieukeegan/?hl=en', target: '_blank' %></li>
      </ul>
    </div>

    <div class="footer-right">
      <p></p>
    </div>

</div>
