<div class="home-navbar-container">
  <div class="home-navbar">

  <div class="navbar-options-right">
    <ul>
      <li><%= link_to "Home", root_path, class: "av-link" %></li>
      <li><%= link_to "Albums", albums_path, class: "av-link" %></li>
      <li><%= link_to "About", albums_path, class: "av-link" %></li>
    </ul>
  </div>
</div>
