<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <div class="my-carousel" data-flickity='{ "wrapAround": true, "imagesLoaded": true }'>
      <% Album.first.photos.each do |photo| %>
        <div class="carousel-cell">
          <div class="displayed-image"><%= cl_image_tag photo.key, height: 600, crop: :fill %>
            <div class="trash-btn hidden"><%= link_to icon('fas', 'trash-alt'), destroy_photo_album_path(photo.signed_id), method: :delete, data: { confirm: 'Are you sure?' }, class: "post-delete-icon" %></div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>



