<div class="form-container">
  <div class="form-title"><h1>Create a new album</h1></div>
  <%= simple_form_for @album, url: albums_path, method: 'post' do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
    </div>
    <div class="main-form-btn">
      <%= f.button :submit, 'Create', class: "devise-btn" %>
    </div>
  <% end %>
</div>