

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color: #2C2C2C;
  font-family: 'Poppins', sans-serif;
}

.logo a {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.4s ease;
}

.logo a:hover {
  color: rgb(97, 250, 255);
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-bottom: 0;
}

.nav-links li {
  list-style: none;
  margin-left: 24px;
  margin-right: 24px;
  :hover {
    font-weight: 600;
    color: rgb(0, 183, 255);
  }
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  list-style: none;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: 500;
}

.burger {
  display: none;
}

.burger div {
  height: 2px;
  width: 24px;
  margin: 5px;
  background-color: rgb(226, 226, 226);
  transition: all 0.3s ease;
}

.about-top a{
  display: block;
  color: rgb(226, 226, 226);
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.about-top a:hover {
  font-weight: 600;
  color: rgb(0, 183, 255);
  text-decoration: none;
}

.about-side {
  display: none;
  margin-bottom: 0;
}

@media screen and (max-width: 768px){
  .about-top {
    display: none;
  }
  .about-side {
    display: block;
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    background-color: #2C2C2C;
    z-index: 998;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; 
  }
  .nav-links li {
    z-index: 999;
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-5px);
}




.current-album {
  text-decoration: underline;
}

.edit-btn {
  position: absolute;
  width: 100%;
  background-color: #474747;
  height: 24px;
  bottom: -24px;
  z-index: 999;
  text-align: center;
  box-shadow: #2C2C2C 1px 1px 1px 1px;
}

#hide-btn {
  color: rgb(231, 231, 231);
}